* {
    margin: 0;
    padding: 0;
}


* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

header {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-left: auto;
    margin-right: auto;

}

.header {
    background-image: url(./img/фон_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    height: 735px;
    margin-left: auto;
    margin-right: auto;
}

.header1 {
    background-image: url(./img/fon_cat2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.header__nav {
    list-style-type: none;
    display: flex;
    gap: 32px;

}

.header1__nav {
    list-style-type: none;
    display: flex;
    gap: 32px;

}

.header__spis {
    display: inline-block;

}

.top-cart__spis {
    display: inline-block;
}

.top-cart__ssilka {
    color: white;
    text-decoration: none;
}

.header1__spis {
    display: inline-block;

}

.section1 {

    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}

.section1-cat {
    margin-top: 127px;
}

.search {
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    height: 41px;
    width: 288px;
    padding-left: 15px;
}

.search::placeholder {
    color: white;

}

.header__ssilka {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;

}

.header1__ssilka {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;

}

.section1__zag {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 18px;
    margin-bottom: 16px;
    color: white;
    // height: 140px;
    // width: 792px;
    letter-spacing: 0%;
}

.section1-cat__zag {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: white;
    height: 140px;
    letter-spacing: 0%;
}


.section1__par {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: white;
    // height: 32px;
    font-weight: 400;
    font-size: 24px;
}

.section1__ssilka {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
}

.one-silk {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
}

.section-spec__zag {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 0px;
}

.section3__zag {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;

}

.section3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.section3__cat {
    display: flex;
    /* grid-template-rows: 385px 385px;
    grid-template-columns: 395px 395px 395px; */
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 31px;
    row-gap: 56px;
}

.section3__art {
    width: 379px;


}

.section-spec__art1-zag {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 9px;
    margin-top: 10px;
}

.section3__art1-zag {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 9px;
    margin-top: 10px;
}

.section-spec__par1 {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;

}

.section3__wrapper {
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
}

.section3__par1 {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 10px;

}

.section-spec__par2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: line-through;
    color: #888888;
    display: inline-block;
}

.section-spec__par3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    color: #000000;
    margin-right: 32px;
}

.section3__par3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    color: #000000;
    margin-right: 32px;
}

.section-spec {
    /* width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
}

.section-spec__wrapper {
    display: flex;

    flex-wrap: wrap;
    margin-top: 32px;
    gap: 31px;

}

.section-spec__art {
    width: 379px;
}

.footer__zag {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}



.footer__wrapper {
    display: flex;

    // height: 178px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 32px;
    padding-bottom: 64px;
}

.footer__nav {
    list-style-type: none;
}

.footer__ssilka {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
}

.footer__img-silka {
    display: inline-block;
    margin-right: 10px;
}

.footer__form {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.footer__form-vvod {
    background: #FFFFFF;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: block;
    width: 260px;

    padding: 12px 174px 13px 17px;
    margin-bottom: 10px;
}

.footer__form-but {
    background-color: rgba(222, 215, 215, 0.41);
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    width: 260px;
    padding: 12px 93px 13px 85px;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.pod:hover {
    text-decoration: underline;
}

.pod1 {
    text-decoration: underline;
}

.pr-foot__silk {
    color: #000000;

}

.pr-foot {

    height: 24px;

    margin-bottom: 60px;
    margin-top: 30px;
}

.footer {
    background-color: #F7F6F6;
    width: 100%;
    // height: 207px;

    // margin-right: auto;
    // margin-left: auto;
}

.cont {
    margin-bottom: 10px;
}

.section3__select-css {
    appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    background-image: url('./img/strelka.png');
    background-position: calc(100% - 20px);
    background-size: 11px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.section3__zag-cat {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    color: #000000;
    display: inline-block;

}

.section3__container-cat {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 20px;
    align-items: start;
    margin-bottom: 25px;
}

.section2__zag {
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.section2 {
    margin-top: 64px;
}

.section2__grid-top {
    grid-row: span 1;
    grid-column: span 6;
}

.section2__grid-middle {
    grid-row: span 1;
    grid-column: span 4;
}

.obz {
    height: 415px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for1 {
    background-image: url(./img/relax.jpg);
    background-size: 584px 415px;
}

.for2 {
    background-image: url(./img/work.jpg);
    background-size: 584px 415px;
}

.for3 {
    background-image: url(./img/kitchen.jpg);
    background-size: 378px 415px;
}

.for4 {
    background-image: url(./img/child.jpg);
    background-size: 378px 415px;
}

.for5 {
    background-image: url(./img/bathroom.jpg);
    background-size: 378px 415px;
}

.section2__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.but-cat-1 {
    width: 182px;
    font-weight: 500;
}

.but-cat-2 {
    width: 227px;
}

.header__mob {
    display: none;
}

.top-cart__mob {
    display: none;
}

.header__logo:hover {
    transition: all 1.5s;

}

.header__logo:hover svg:hover {
    color: #888888;
    transition: all 1.5s;
}

.header__spis:hover {
    transition: all 1.5s;


}

.header__ssilka:hover {
    color: #888888;
    transition: all 1.5s;
    text-decoration: none;
}

.section1__ssilka:hover {
    color: #888888;
    transition: all 1.5s;
    text-decoration: none;
    // display: inline-block;
}

.one-silk:hover {
    color: #888888;
    transition: all 1.5s;
    display: inline-block;
    text-decoration: none;

}

.footer__ssilka:hover {
    color: black;
    transition: all 1.5s;

}

.footer__ssilka:hover {
    color: black;
    transition: all 1.5s;
    text-decoration: none;
}

svg:hover path {
    fill: #000000;
    transition: all 1.5s;
}

.top-cart__logo:hover {
    transition: all 1.5s;
}

.header1__logo:hover {
    transition: all 1.5s;
}

.footer__form-but:hover {
    transition: all 1.5s;
    background-color: black;
    color: white;
}

.footer__form-vvod:hover {
    transition: all 1.5s;
    border: 1px solid black;
}

.search:hover {
    transition: all 1.5s;
    border: 1px solid white;
}

.header__mob a svg:hover {
    fill: black;
    transition: all 1.5s;
}

.header__mob a rect:hover {
    fill: #000000;
    transition: all 1.5s;
}

.header1__spis a:hover {
    transition: all 1.5s;
    color: #888888;
    text-decoration: none;
}

.section3__select-css:hover {
    background-color: black;
    color: white;
    transition: all 1.5s;
}

.section3__form-btn:hover {
    background-color: black;
    color: white;
    transition: all 1.5s;

}

.cart__silk:hover {
    transition: all 1.5s;
    color: #888888;
    text-decoration: none;
}

.cart__buttons:hover {
    background-color: black;
    color: white;
    transition: all 1.5s;
}

.cart__buttons {
    margin-right: 10px;
}

.cart__zakaz-butt:hover {
    background-color: black;
    color: white;
    transition: all 1.5s;
    box-shadow: 1px 1px 5px 5px black;
    transform: scale(1.1);
}

.top-cart__ssilka:hover {
    color: #888888;
    transition: all 1.5s;
    text-decoration: none;
}

.top-cart__mob {
    display: none
}

@import '__cart';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '__form-cat';

@import '__planshet';

@import'__mobila';